<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="/index">Hem</a>
                <a href="/members">Medlemmar</a>
                <a href="/members/create">Skapa medlem</a>
            </nav>
        </header>
        <main>
            <h1>Jiujiutsu Union Klubben</h1>
            <p>detta är en klubb för personer som tränar Brasiliansk jiujiutsu. denna klubbs mål är att samla utövare för att dela kunskap och träna ihop. alla jiujiutsu utövare är välkomna!</p>
        </main>
        <footer>
            <ul>
                <li>Adress: Lurgatan 123, Stockholm</li>
                <li>Telefon: 08 111 22 22</li>
                <li>Email: Info@bjj.se</li>
            </ul>
            <p>copyright</p>
        </footer>
    </div>
</body>
</html>